@font-face {
  font-family: branding-semibold;
  src: url(static/font/Branding-Semibold.otf);
  font-weight: 600
}

@font-face {
  font-family: branding-medium;
  src: url(static/font/Branding-Medium.otf);
  font-weight: 500
}

@font-face {
  font-family: branding-bold;
  src: url(static/font/Branding-Bold.otf);
  font-weight: bold
}

@font-face {
  font-family: branding-light;
  src: url(static/font/Branding-Light.otf);
  font-weight: 30
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  body {
    height: 100%;
  }