.dropbtn {
    border: none;
    cursor: pointer;
    height: auto;
    width: auto;
    background-color: #FFF;
    margin: 0px;
    padding: 0px
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropDownContent {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

  .dropDownContent a:hover {background-color: #f0f0f0;}

.dropDownContent a {
  border-radius: 10px;
}

  
.dropDownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  
  
.dropdown:hover .dropDownContent {
  display: block;
}