.dropbtn {
    border: none;
    cursor: pointer;
    background-color: #FFF;
    height: auto;
    width: auto;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropDownContent {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropDownContent a:hover {background-color: #f1f1f1;}
  .dropDownContent a {
    border-radius: 10px;
  }

  
  .dropDownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown:hover .dropDownContent {
    display: block;
  }
  