h2 {
  margin-top: 20px;
  font-family: "branding-semibold";
  color: "#576d96";
}

h3 {
  margin-top: 20px;
  font-family: "branding-semibold";
  color: "#576d96";
}

li {
  margin-left: 50px;
  padding: 10px;
}

p {
  font-family: "branding-medium";
  color: "#576d96";
  text-align: justify;
}

.mainContainer {
  background-color: #FFF;
  border-radius: 30px;
  padding: 30px;
}

.main {
  padding: 30px;
}